body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  all: initial;
}

html {
  overflow: hidden;
}

@font-face {
  font-family: 'RosMol'; 
  src: url('../public/fonts/BrandingRosmol/GT-Eesti-LC-Display-Light.otf')  format("opentype"); 
}

@font-face {
  font-family: 'RosMol-label'; 
  src: url('../public/fonts/BrandingRosmol/GT-Eesti-LC-Display-Medium.otf')  format("opentype"); 
}