body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  background-color: whitesmoke;
  padding: 5px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@font-face {
  font-family: 'RosMol'; 
  src: url('../public/fonts/BrandingRosmol/GT-Eesti-LC-Text-Regular.otf')  format("opentype"); 
}

@font-face {
  font-family: 'RosMol-label'; 
  src: url('../public/fonts/BrandingRosmol/GT-Eesti-LC-Display-Medium.otf')  format("opentype"); 
}